APP_NAME="OpenSourceMatcher"
APP_ENV=production
APP_KEY=base64:9eg/wuOeCgqJMe5Mm+u6YttSnXgXlJ0McTbDiKxWIeo=
APP_DEBUG=false
APP_URL=https://opensourcematcher.onrender.com
LOG_CHANNEL=stack
LOG_LEVEL=warning

# Base de données PostgreSQL Render
DB_CONNECTION=pgsql
DB_HOST=dpg-d8jtjjbbc2fs73a2ig80-a
DB_PORT=5432
DB_DATABASE=opensourcematcher_pjew
DB_USERNAME=opensourcematcher_pjew_user
DB_PASSWORD=xrhZTL7RRvod75OvGHIG6RpBrJ5kKffD

# Session / Cache
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

CACHE_STORE=database
QUEUE_CONNECTION=database

FILESYSTEM_DISK=local

# Frontend Vercel
FRONTEND_URL=https://open-source-matcher.vercel.app

# CORS
CORS_ALLOWED_ORIGINS=https://open-source-matcher.vercel.app

# Sanctum
SANCTUM_STATEFUL_DOMAINS=open-source-matcher.vercel.app

# Mail
MAIL_MAILER=log

# GitHub OAuth (si utilisé)
GITHUB_TOKEN=<GITHUB_TOKEN>
GITHUB_CLIENT_ID=Ov23licOogzB9GL9JjBG
GITHUB_CLIENT_SECRET=8563d09df6dc9a2adb8c80230e1c04ca071d8a65
GITHUB_REDIRECT_URI=https://https://opensourcematcher.onrender.com/auth/github/callback

# Google OAuth (si utilisé)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=https://opensourcematcher.onrender.com/auth/google/callback
